<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SurfBOARD</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/00fb325d47.js"></script>
</head>
<body>
<div class="container">
    <form id="onboardingForm" method="POST" action="/onboard" role="form" data-toggle="validator">
        <div class="form-header">
            <h1>7HCI Onboarding</h1>
        </div>
        <div class="form-group">
            <label class="control-label">
                <span>First Name</span>
                <input type="text" name="firstName" id="firstName" class="form-control" required>
            </label>
            <span class="glyphicon form-control-feedback"></span>
            <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
            <label class="control-label">
                <span>Last Name</span>
                <input type="text" name="lastName" id="lastName" class="form-control" required>
            </label>
            <span class="glyphicon form-control-feedback"></span>
            <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
            <label class="control-label">
                <span>E-mail</span>
                <input type="email" name="email" id="email" class="form-control"
                       data-error="E-mail is not valid." required>
            </label>
            <span class="glyphicon form-control-feedback"></span>
            <div class="help-block with-errors"></div>
        </div>
        <label class="control-label"
               for="override"><span>Override Generated Local-Part:</span></label>
        <div class="input-group">
            <input type="text" name="override" id="override" class="form-control">
            <span class="input-group-addon">@7hci.com</span>
        </div>
        <br>
        <div class="checkbox">
            <label> <input type="checkbox" name="resident" id="resident" checked> <b>U.S.
                Resident</b> </label>
        </div>

        <div class="modal fade" id="tasks_modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Onboarding Tasks</h4>
                    </div>
                    <div class="modal-body">
                        {% if tasks %}
                            {% for task in tasks %}
                                <div class="checkbox task">
                                    <label for="{{ task.name }}"><input type="checkbox" checked
                                                                        id="{{ task.name }}"
                                                                        name="{{ task.name }}"> {{ task.text }}
                                    </label>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group" id="deleteMe">
            <a href="#tasks_modal" role="button" data-toggle="modal" id="customize">Customize
                onboarding tasks</a><br><br><br>
            <button class="btn btn-primary" id="submitButton" type="submit">Onboard!</button>
        </div>
        <div id="updates"></div>
        <div id="spinner" hidden><i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i></div>
        <br>
    </form>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();

  socket.on('update', function (msg) {
    var status = msg.status;
    var text = msg.text;
    var icon;
    if (status === 'success') {
      icon = '&nbsp;<i class="fa fa-check-circle"></i>';
    } else {
      icon = '&nbsp;<i class="fa fa-exclamation-circle"></i>'
    }
    var content = '<p class="' + status + '">' + text + icon + '</p>';
    $('#updates').append($(content));
  });

  socket.on('finish', function (msg) {
    $('#spinner').fadeOut('fast');
  });

  $('#onboardingForm').submit(function (event) {
    event.preventDefault();

    var credentials = {{ credentials | safe }};
    socket.emit('onboard', $(this).serializeArray(), credentials);

    $('#spinner').fadeIn('slow');

    $('#firstName').prop('disabled', true);
    $('#lastName').prop('disabled', true);
    $('#email').prop('disabled', true);
    $('#override').prop('disabled', true);
    $('#resident').prop('disabled', true);
    $('#deleteMe').remove();
  });

  $('input[name=createContractorEmail]').change(function () {
    if ($(this).is(":checked")) {
      $('input[name=sendLoginEmail]').prop('disabled', false);
    } else {
      $('input[name=sendLoginEmail]')
        .prop('disabled', true)
        .prop('checked', false);
    }
  });
</script>

</body>
</html>