<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SurfBOARD</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/00fb325d47.js"></script>
</head>
<body>
<div class="container">
    <form id="onboardingForm" method="POST" action="/onboard" role="form" data-toggle="validator">
        <div class="form-header">
            <h1>7HCI Onboarding</h1>
        </div>
        <div class="form-group">
            <label class="control-label">
                <span>First Name</span>
                <input type="text" name="firstName" class="form-control" required
                        {% if contractor %}
                       placeholder="{{ contractor.firstName }}" disabled
                        {% endif %}
                >
            </label>
            <span class="glyphicon form-control-feedback"></span>
            <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
            <label class="control-label">
                <span>Last Name</span>
                <input type="text" name="lastName" class="form-control" required
                        {% if contractor %}
                       placeholder="{{ contractor.lastName }}" disabled
                        {% endif %}
                >
            </label>
            <span class="glyphicon form-control-feedback"></span>
            <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
            <label class="control-label">
                <span>E-mail</span>
                <input type="email" name="email" class="form-control"
                        {% if contractor %}
                       placeholder="{{ contractor.privateEmail }}" disabled
                        {% endif %}
                       data-error="E-mail is not valid." required>
            </label>
            <span class="glyphicon form-control-feedback"></span>
            <div class="help-block with-errors"></div>
        </div>
        <div class="checkbox">
            <label> <input type="checkbox" name="resident"
                {% if contractor %}
                    disabled
                    {%  if contractor.isResident %}
                        checked
                    {% endif %}
                {% else %}
                    checked
                {% endif %}> <b>U.S. Resident</b> </label>
        </div>

        <div class="modal fade" id="tasks_modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Onboarding Tasks</h4>
                    </div>
                    <div class="modal-body">
                        {% if tasks %}
                            {% for task in tasks %}
                            <div class="checkbox task">
                                <label for="{{ task.name }}"><input type="checkbox" checked id="{{ task.name }}"
                                                                    name="{{ task.name }}"> {{ task.text }}
                                </label>
                            </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        {% if not messages %}
        <div class="form-group">
            <a href="#tasks_modal" role="button" data-toggle="modal">Customize onboarding tasks</a><br><br><br>
            <button class="btn btn-primary" id="submitButton" type="submit">Onboard!</button>
        </div>
        {% endif %}
        <br>
            {% if messages %}
            {% for message in messages %}
            <p class="{{ message.status }}">
                {{ message.text }}
                {% if message.status == "success" %}
                    <i class="fa fa-check-circle"></i>
                {% else %}
                    <i class="fa fa-exclamation-circle"></i>
                {% endif %}
            </p>
            {% endfor %}
            {% endif %}
    </form>
</div>

<script>
    $('input[name=createContractorEmail]').change(function (){
        if ($(this).is(":checked")) {
            $('input[name=sendLoginEmail]').prop('disabled', false);
        } else {
            $('input[name=sendLoginEmail]')
              .prop('disabled', true)
              .prop('checked', false);
        }
    });
</script>

</body>
</html>