<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SurfBOARD</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/css/app.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/00fb325d47.js"></script>
</head>
<body>
<div id="step3" class="container hide">
    <div class="row justify-content-center align-items-center fill-height">
        <form id="contractForm" role="form" data-toggle="validator"
              class="col-lg-5 col-md-7 col-sm-9 col-xs-10">
            <div class="card">
                <div class="card-header card-success">Contract Preview</div>
                <div class="card-block">
                    <div class="form-group">
                        <label class="control-label">
                            <span>First Name</span>
                            <input type="text" name="firstName" id="firstName" class="form-control"
                                   required value="{{ firstName }}">
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="control-label">
                            <span>Last Name</span>
                            <input type="text" name="lastName" id="lastName" class="form-control"
                                   required
                                   value="{{ lastName }}">
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="control-label">
                            <span>Company</span><br>
                            <i>Optional - use if contracting as an LLC or similar</i>
                            <input type="text" name="company" id="company" class="form-control">
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="control-label">
                            <span>Title</span>
                            <input type="text" name="title" id="title" class="form-control"
                                   value="Contractor" required>
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="control-label">
                            <span>E-mail</span>
                            <input type="email" name="email" id="email" class="form-control"
                                   required
                                   value="{{ email }}">
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="control-label">
                            <span>Address</span>
                            <input type="text" name="address" id="address" class="form-control"
                                   required>
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="control-label">
                            <span>Phone Number</span>
                            <input type="text" name="phone" id="phone" class="form-control"
                                   required>
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="custom-file">
                            <span>Upload Signature</span>
                            <input type="file" name="signature" id="signature" accept="image/*"
                                   class="form-control-file"/>
                        </label>
                    </div>
                    <input type="hidden" name="signatureFile" id="signatureFile"/>
                </div>
                <div class="d-flex justify-content-end card-block">
                    <button class="btn btn-success" id="previewButton" type="button">Preview
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div id="step3Preview" class="hide">
    <div id="pdfPreview" class="my-content fixed-top"></div>
    <div id="pdfFooter" class="my-footer fixed-bottom">
        <button class="btn" id="previewBackButton" type="button">Back</button> &nbsp;
        <button class="btn btn-success" id="submitButton" type="button">Submit</button>
    </div>
</div>
<div id="step4" class="container hide">
    <div class="row justify-content-center align-items-center fill-height">
        <div class="col-lg-5 col-md-7 col-sm-9 col-xs-10">
            <div class="card">
                <div class="card-header card-success">Send Contract</div>
                <div class="card-block">
                    <p>
                        Your contract has been submitted. You will be notified by e-mail once it has
                        been reviewed and countersigned.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="spinner"><img src="/img/loading.gif"></div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/socket.io-file-client.js"></script>
<script src="/js/pdfobject.min.js"></script>
<script>var credentials = {{ credentials | safe }};</script>
<script src="/js/talent.js"></script>
</body>
</html>