body {
    background-color: #f3f3f3;

}

h1 {
    color: #14558D;
    font-weight: bold;
    border-bottom: 2px solid #14558D;
    display: inline-block;
    box-sizing: border-box;
}

h4 {
    color: #14558D;
    font-weight: bolder;
}

label {
    width: 100%
}

.container {
    background-color: #ffffff;
    height: 90%;
    margin-top: 2%;
}

.task {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.modal-header {
    text-align: center;
}

.success {
    color: #3A7734;
}

.failure {
    color: #9C1A1C;
}

.form-header {
    text-align: center;
    padding-bottom: 3rem;
    padding-top: 3rem;
}

#spinner {
    text-align: center;
    color: #14558D;
    width: 100%;
}

@media (min-width: 48em) {
    .container {
        max-width: 46rem;
    }
}